body{
    background-color: #f7fdffd7;
    margin: 0px;
}
.herosection{
    display: flex;
    justify-content: center;

    width: 100%;
    height: 100vh;
    margin: 0%;

    background-image: url(./assets/image/1572436388_madhya_pradesh_web\(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    position: relative;
}
.navbar {
    /* background-color: rgb(248, 48, 33); */
    background-color:#0080B3;
    border-radius: 10px;
    height: 60px;
    width: 80%;
    color: whitesmoke;
    font-size: 20px;

    display: flex;
    align-items: center; 
    justify-content: space-between; 
    margin: 25px 0px 0px 0px; 
    padding: 0 30px;
}

#Emblem img {
    width: 100px;
}

.nav-items {
    list-style-type: none;
    display: flex;
    gap: 20px;
    flex-grow: 1;
    justify-content: center; 
}

.nav-items li {
    border-bottom: 3px solid transparent;
    transition: 250ms;

    cursor: pointer;
}

.nav-items li:hover {
    border-bottom: 3px solid rgb(228, 220, 220);
}

.CTA{
    border: 2px solid whitesmoke;
    border-radius: 10px;
    padding: 5px;

    cursor: pointer;
}
.CTA:hover{
    background-color: whitesmoke;
    color: #0080B3;
    transition: 250ms;
}

#tagline{
    position: absolute;
    top: 25%;
    left: 5%;

    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
    width: 45%;
    height: 30%;
}
.Reason_section{
    display: flex;
    justify-content: center;
    flex-direction: row;

    margin-top: 50px;
    height: 100vh;
    width: 100%;
/* 
    overflow-x: scroll;
    scroll-snap-type: x mandatory; */

    border: 2px solid red;
}

#reason_heading{
    font-size: 40px;
    color: #0080B3;
}

.Reason_folder{
    height: 100vh;
    width: 100vw;
/* 
    scroll-snap-align: start; */
}

#reason1{
    background-color: red;
    width: 1500px;
}
#reason2{
    background-color: blue;
}
#reason3{
    background-color: green;
}
#reason4{
    background-color: yellow;
}


.Destinations{
    width: 100%;
    height: 200vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.destination_grid{
    border: 2px solid red;
    width: 80%;
    height: 90%;

    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: repeat(3 , 1fr);
    gap: 10px;
}
.destination_child{
    height: 100%;
    width: 100%;
    border: 2px dotted rgb(2, 95, 17);
}

#bhopal{
    background-image: url(./assets/image/profile_banner.webp);
    background-size: cover;
}
#jabalpur{
    background-image: url(./assets/image/jabal.webp);
    background-size: cover;
}
#rewa{
    background-image: url(./assets/image/rewa.png);
    background-size: cover;
}
#bhedghat{
    background-image: url(./assets/image/bhedghat.webp);
    background-size: cover;
    background-position: center;
}
#island{
    background-image: url(./assets/image/island.png);
    background-size: cover;
}#shivpuri{
    background-image: url(./assets/image/shiv.webp);
    background-size: cover;
}